.segunampo{
}
.proyectocampo{
}
.calc_poblacion{
}
.checkcampo{
}
.checar_disc{
}
.obten_porcentaje{
}
.proyectocampo_varios_presupuesto{
}
.cat_categoria{
}
.validafecha{
}
.guardar_campostext{
}
.fecha_reali_festival{
}
.info_inst_reg{
}

//INICIO CODIGO PARA ADJUNTAR
.messages{
    float: left;
    font-family: sans-serif;
    display: none;
}
.info{
    padding: 10px;
    border-radius: 10px;
    background: orange;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.before{
    padding: 10px;
    border-radius: 10px;
    background: blue;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.success{
    padding: 10px;
    border-radius: 10px;
    background: green;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.error{
    padding: 10px;
    border-radius: 10px;
    background: red;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
//FIN CODIGO PARA ADJUNTAR
.modal-dialog2{
    margin-top: 10px;
    padding-right: 19px;
    padding-left: 19px;
    width: 500px;
    margin: 30px auto;
    position: relative;
}